{% extends "layouts/base.html" %}
{% load static %}


{% block content %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<main>
  <div class="px-4 pt-6">
    <div class="grid gap-4 xl:grid-cols-2 2xl:grid-cols-3">
      <!-- Main widget -->
      <div
        class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
        <div class="flex items-center justify-between mb-4">
          <div class="flex-shrink-0">
            <span class="text-xl font-bold leading-none text-gray-900 sm:text-2xl dark:text-white">{{total_sales}} GNF</span>
            <h3 class="text-base font-light text-gray-500 dark:text-gray-400">Total des ventes</h3>

          </div>
          <div
            class="flex items-center justify-end flex-1 text-base font-medium text-green-500 dark:text-green-400">
            12.5%
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z"
                clip-rule="evenodd"></path>
            </svg>
          </div>

        </div>

      <div id="ventesChart"></div>

        <!-- Card Footer -->
        <div
          class="flex items-center justify-between pt-3 mt-4 border-t border-gray-200 sm:pt-6 dark:border-gray-700">
          <div>
            <button
              class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 rounded-lg hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
              type="button" data-dropdown-toggle="weekly-sales-dropdown">Last 7 days <svg class="w-4 h-4 ml-2"
                fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
              </svg></button>
            <!-- Dropdown menu -->
            <div
              class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600"
              id="weekly-sales-dropdown">
              <div class="px-4 py-3" role="none">
                <p class="text-sm font-medium text-gray-900 truncate dark:text-white" role="none">
                  Sep 16, 2021 - Sep 22, 2021
                </p>
              </div>
              <ul class="py-1" role="none">
                <li>
                  <a href="#"
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
                    role="menuitem">Yesterday</a>
                </li>
                <li>
                  <a href="#"
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
                    role="menuitem">Today</a>
                </li>
                <li>
                  <a href="#"
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
                    role="menuitem">Last 7 days</a>
                </li>
                <li>
                  <a href="#"
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
                    role="menuitem">Last 30 days</a>
                </li>
                <li>
                  <a href="#"
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
                    role="menuitem">Last 90 days</a>
                </li>
              </ul>
              <div class="py-1" role="none">
                <a href="#"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
                  role="menuitem">Custom...</a>
              </div>
            </div>
          </div>
          <div class="flex-shrink-0">
            <a href="#"
              class="inline-flex items-center p-2 text-xs font-medium uppercase rounded-lg text-primary-700 sm:text-sm hover:bg-gray-100 dark:text-primary-500 dark:hover:bg-gray-700">
              Sales Report
              <svg class="w-4 h-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <!--Tabs widget -->
      <div
        class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">

        <div data-popover id="popover-description" role="tooltip"
          class="absolute z-10 invisible inline-block text-sm font-light text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
          <div class="p-3 space-y-2">
            <h3 class="font-semibold text-gray-900 dark:text-white">Statistics</h3>
            <p>Statistics is a branch of applied mathematics that involves the collection, description, analysis,
              and inference of conclusions from quantitative data.</p>
            <a href="#"
              class="flex items-center font-medium text-primary-600 dark:text-primary-500 dark:hover:text-primary-600 hover:text-primary-700">Read
              more <svg class="w-4 h-4 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"></path>
              </svg></a>
          </div>
          <div data-popper-arrow></div>
        </div>
        <div class="sm:hidden">
          <label for="tabs" class="sr-only">Select tab</label>
          <select id="tabs"
            class="bg-gray-50 border-0 border-b border-gray-200 text-gray-900 text-sm rounded-t-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
            <option>Statistics</option>
            <option>Services</option>
            <option>FAQ</option>
          </select>
        </div>
        <div class="top-products-section">
    <h2>les rentabilités</h2>
   <div class="top-products-list mt-8">
    <div id="profitabilityChart"></div>
</div>


</div>
        <!-- Card Footer -->
        <div
          class="flex items-center justify-between pt-3 mt-5 border-t border-gray-200 sm:pt-6 dark:border-gray-700">
          <div>
            <button
              class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 rounded-lg hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
              type="button" data-dropdown-toggle="stats-dropdown">Last 7 days <svg class="w-4 h-4 ml-2"
                fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
              </svg></button>
            <!-- Dropdown menu -->
            <div
              class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600"
              id="stats-dropdown">
              <div class="px-4 py-3" role="none">
                <p class="text-sm font-medium text-gray-900 truncate dark:text-white" role="none">
                  Sep 16, 2021 - Sep 22, 2021
                </p>
              </div>
              <ul class="py-1" role="none">
                <li>
                  <a href="#"
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
                    role="menuitem">Yesterday</a>
                </li>
                <li>
                  <a href="#"
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
                    role="menuitem">Today</a>
                </li>
                <li>
                  <a href="#"
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
                    role="menuitem">Last 7 days</a>
                </li>
                <li>
                  <a href="#"
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
                    role="menuitem">Last 30 days</a>
                </li>
                <li>
                  <a href="#"
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
                    role="menuitem">Last 90 days</a>
                </li>
              </ul>
              <div class="py-1" role="none">
                <a href="#"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
                  role="menuitem">Custom...</a>
              </div>
            </div>
          </div>
          <div class="flex-shrink-0">
            <a href="#"
              class="inline-flex items-center p-2 text-xs font-medium uppercase rounded-lg text-primary-700 sm:text-sm hover:bg-gray-100 dark:text-primary-500 dark:hover:bg-gray-700">
              Full Report
              <svg class="w-4 h-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="grid w-full grid-cols-1 gap-4 mt-4 xl:grid-cols-2 2xl:grid-cols-3">
    <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-col items-center justify-between sm:flex-row">
            <div>
                <h3 class="text-base font-normal text-gray-500 dark:text-gray-400">Rentabilité</h3>
              <a href="{% url 'list_production' %}">
                <span class="text-2xl font-bold text-gray-900 sm:text-3xl dark:text-white">{{average_profitability}} pc/KG</span>
              </a>
            </div>
        </div>
    </div>
    <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-col items-center justify-between sm:flex-row">
            <div>
                <h3 class="text-base font-normal text-gray-500 dark:text-gray-400">Rapport</h3>
                <a href="{% url 'rapport' %}">
                    <span class="text-2xl font-bold text-gray-900 sm:text-3xl dark:text-white">{{ rapport }} GNF</span>
                </a>
            </div>
        </div>
    </div>
       <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-col items-center justify-between sm:flex-row">
            <div>
                <h3 class="text-base font-normal text-gray-500 dark:text-gray-400">Nombre d'emballage dispo</h3>
                <a href="{% url 'rapport' %}">
                    <span class="text-2xl font-bold text-gray-900 sm:text-3xl dark:text-white">{{ stock_e }}</span>
                </a>
            </div>
        </div>
    </div>

</div>
    <div class="grid w-full grid-cols-1 gap-4 mt-4 xl:grid-cols-2 2xl:grid-cols-3">
    <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-col items-center justify-between sm:flex-row">
            <div>
                <h3 class="text-base font-normal text-gray-500 dark:text-gray-400">Nombre de rouleaux</h3>
              <a href="{% url 'list_production' %}">
                <span class="text-2xl font-bold text-gray-900 sm:text-3xl dark:text-white">{{stock_r}}</span>
              </a>
            </div>
        </div>
    </div>
    <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-col items-center justify-between sm:flex-row">
            <div>
                <h3 class="text-base font-normal text-gray-500 dark:text-gray-400">A l'usine</h3>
                <a href="{% url 'rapport' %}">
                    <span class="text-2xl font-bold text-gray-900 sm:text-3xl dark:text-white">{{ factory_quantity_today }} pcs</span>
                </a>
            </div>
        </div>
    </div>
       <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-col items-center justify-between sm:flex-row">
            <div>
                <h3 class="text-base font-normal text-gray-500 dark:text-gray-400">Nombre d'emballage dispo</h3>
                <a href="{% url 'rapport' %}">
                    <span class="text-2xl font-bold text-gray-900 sm:text-3xl dark:text-white">{{ stock_e }}</span>
                </a>
            </div>
        </div>
    </div>

</div>
  </div>
</main>
<!-- Hidden elements for storing JSON data -->
    <script type="application/json" id="vehicle-sales-data">
        {{ vehicle_sales_data|safe }}
    </script>
    <script type="application/json" id="profitability-data">
        {{ profitability_data|safe }}
    </script>

    <!-- Script for initializing the charts -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            try {
                var vehicleSalesData = JSON.parse(document.getElementById('vehicle-sales-data').textContent);
                var vehicleLabels = vehicleSalesData.map(data => data.Vehicule);
                var vehicleSales = vehicleSalesData.map(data => data.total_ventes);

                var profitabilityData = JSON.parse(document.getElementById('profitability-data').textContent);
                var profitDates = profitabilityData.map(data => data.date.substring(0, 10)); // Adjust date format as necessary
                var profitValues = profitabilityData.map(data => data.renta);

                function getChartThemeOptions() {
                    let themeColors;
                    if (document.documentElement.classList.contains('dark')) {
                        themeColors = {
                            chartColor: '#374151',
                            textColor: '#9CA3AF',
                            gridBorderColor: '#374151',
                            tooltipBackground: 'rgba(55, 65, 81, 0.9)'
                        };
                    } else {
                        themeColors = {
                            chartColor: '#F3F4F6',
                            textColor: '#6B7280',
                            gridBorderColor: '#D1D5DB',
                            tooltipBackground: 'rgba(243, 244, 246, 0.9)'
                        };
                    }
                    return {
                        chart: {
                            toolbar: {
                                show: false
                            },
                            foreColor: themeColors.textColor
                        },
                        grid: {
                            borderColor: themeColors.gridBorderColor
                        },
                        tooltip: {
                            theme: 'dark',
                            x: {
                                format: 'dd MMM yyyy'
                            },
                            y: {
                                formatter: undefined,
                                title: {
                                    formatter: (seriesName) => seriesName,
                                },
                            },
                        }
                    };
                }

                var optionsVentes = {
                    chart: {
                        type: 'bar',
                        height: 350,
                        ...getChartThemeOptions().chart
                    },
                    series: [{
                        name: 'Ventes par Voiture',
                        data: vehicleSales
                    }],
                    xaxis: {
                        categories: vehicleLabels
                    },
                    fill: {
                        type: 'solid',
                    },
                    grid: {
                        ...getChartThemeOptions().grid
                    },
                    tooltip: {
                        ...getChartThemeOptions().tooltip
                    }
                };

                var optionsProfit = {
                    chart: {
                        type: 'line',
                        height: 350,
                        ...getChartThemeOptions().chart
                    },
                    series: [{
                        name: 'Rentabilité',
                        data: profitValues
                    }],
                    xaxis: {
                        categories: profitDates
                    },
                    stroke: {
                        curve: 'smooth'
                    },
                    markers: {
                        size: 4
                    },
                    grid: {
                        ...getChartThemeOptions().grid
                    },
                    tooltip: {
                        ...getChartThemeOptions().tooltip
                    }
                };

                var ventesChart = new ApexCharts(document.querySelector("#ventesChart"), optionsVentes);
                var profitabilityChart = new ApexCharts(document.querySelector("#profitabilityChart"), optionsProfit);

                ventesChart.render();
                profitabilityChart.render();
            } catch (e) {
                console.error("Error parsing JSON!", e);
            }
        });
    </script>


{% endblock content %}