{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<main class="px-4 pt-6 bg-gradient-to-br from-blue-50 to-indigo-100 dark:from-gray-900 dark:to-gray-700">
    <div class="px-4 pt-6">
        <div class="grid gap-4 xl:grid-cols-2 2xl:grid-cols-3">
      <!-- Main widget -->
      <div
        class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
        <div class="flex items-center justify-between mb-4">
          <div class="flex-shrink-0">
            <span class="text-xl font-bold leading-none text-gray-900 sm:text-2xl dark:text-white">{{total_sales}} GNF</span>
            <h3 class="text-base font-light text-gray-500 dark:text-gray-400">Total des ventes</h3>

          </div>
        

        </div>

      <div id="ventesChart"></div>
      </div>
      <!--Tabs widget -->
      <div
        class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
        
        <div class="top-products-section">
    <div class="flex-shrink-0">
            <h3 class="text-base font-light text-gray-500 dark:text-gray-400">Rentabilité Moyenne</h3>

          </div>
   <div class="top-products-list mt-8">
    <div id="profitabilityChart"></div>
</div>


</div>
       
        
      </div>
    </div>
        

        <div class="flex flex-wrap justify-between items-stretch gap-6 mt-6">
            <!-- Card: Profitability -->
            <div class="flex flex-col p-6 bg-white border border-gray-200 rounded-lg shadow-lg dark:border-gray-700 dark:bg-gray-800" style="flex: 1 1 200px;">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Rentabilité</h3>
                <p class="mt-2 text-gray-500 dark:text-gray-400">{{ average_profitability|floatformat:"-2" }} pc/KG</p>
            </div>
            <!-- Card: Report -->
            <div class="flex flex-col p-6 bg-white border border-gray-200 rounded-lg shadow-lg dark:border-gray-700 dark:bg-gray-800" style="flex: 1 1 200px;">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Rapport</h3>
                <p class="mt-2 text-gray-500 dark:text-gray-400">{{ rapport }} GNF</p>
            </div>
            <!-- Card: Packaging Available -->
            <div class="flex flex-col p-6 bg-white border border-gray-200 rounded-lg shadow-lg dark:border-gray-700 dark:bg-gray-800" style="flex: 1 1 200px;">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Nombre d'emballage dispo</h3>
                <p class="mt-2 text-gray-500 dark:text-gray-400">{{ stock_e }}</p>
            </div>
            <!-- Card: Number of Rolls -->
            <div class="flex flex-col p-6 bg-white border border-gray-200 rounded-lg shadow-lg dark:border-gray-700 dark:bg-gray-800" style="flex: 1 1 200px;">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Nombre de rouleaux</h3>
                <p class="mt-2 text-gray-500 dark:text-gray-400">{{ stock_r }}</p>
            </div>
            <!-- Card: At the Factory -->
            <div class="flex flex-col p-6 bg-white border border-gray-200 rounded-lg shadow-lg dark:border-gray-700 dark:bg-gray-800" style="flex: 1 1 200px;">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">À l'usine</h3>
                <p class="mt-2 text-gray-500 dark:text-gray-400">{{ factory_quantity_today }} pcs</p>
            </div>
        </div>
    </div>
</main>



<!-- Hidden elements for storing JSON data -->
    <script type="application/json" id="vehicle-sales-data">
        {{ vehicle_sales_data|safe }}
    </script>
    <script type="application/json" id="profitability-data">
        {{ profitability_data|safe }}
    </script>

    <!-- Script for initializing the charts -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            try {
                var vehicleSalesData = JSON.parse(document.getElementById('vehicle-sales-data').textContent);
                var vehicleLabels = vehicleSalesData.map(data => data.Vehicule);
                var vehicleSales = vehicleSalesData.map(data => data.total_ventes);

                var profitabilityData = JSON.parse(document.getElementById('profitability-data').textContent);
                var profitDates = profitabilityData.map(data => data.date.substring(0, 10)); // Adjust date format as necessary
                var profitValues = profitabilityData.map(data => data.renta);

                function getChartThemeOptions() {
                    let themeColors;
                    if (document.documentElement.classList.contains('dark')) {
                        themeColors = {
                            chartColor: '#374151',
                            textColor: '#9CA3AF',
                            gridBorderColor: '#374151',
                            tooltipBackground: 'rgba(55, 65, 81, 0.9)'
                        };
                    } else {
                        themeColors = {
                            chartColor: '#F3F4F6',
                            textColor: '#6B7280',
                            gridBorderColor: '#D1D5DB',
                            tooltipBackground: 'rgba(243, 244, 246, 0.9)'
                        };
                    }
                    return {
                        chart: {
                            toolbar: {
                                show: false
                            },
                            foreColor: themeColors.textColor
                        },
                        grid: {
                            borderColor: themeColors.gridBorderColor
                        },
                        tooltip: {
                            theme: 'dark',
                            x: {
                                format: 'dd MMM yyyy'
                            },
                            y: {
                                formatter: undefined,
                                title: {
                                    formatter: (seriesName) => seriesName,
                                },
                            },
                        }
                    };
                }

                var optionsVentes = {
                    chart: {
                        type: 'bar',
                        height: 350,
                        ...getChartThemeOptions().chart
                    },
                    series: [{
                        name: 'Ventes par Voiture',
                        data: vehicleSales
                    }],
                    xaxis: {
                        categories: vehicleLabels
                    },
                    fill: {
                        type: 'solid',
                    },
                    grid: {
                        ...getChartThemeOptions().grid
                    },
                    tooltip: {
                        ...getChartThemeOptions().tooltip
                    }
                };

                var optionsProfit = {
                    chart: {
                        type: 'line',
                        height: 350,
                        ...getChartThemeOptions().chart
                    },
                    series: [{
                        name: 'Rentabilité',
                        data: profitValues
                    }],
                    xaxis: {
                        categories: profitDates
                    },
                    stroke: {
                        curve: 'smooth'
                    },
                    markers: {
                        size: 4
                    },
                    grid: {
                        ...getChartThemeOptions().grid
                    },
                    tooltip: {
                        ...getChartThemeOptions().tooltip
                    }
                };

                var ventesChart = new ApexCharts(document.querySelector("#ventesChart"), optionsVentes);
                var profitabilityChart = new ApexCharts(document.querySelector("#profitabilityChart"), optionsProfit);

                ventesChart.render();
                profitabilityChart.render();
            } catch (e) {
                console.error("Error parsing JSON!", e);
            }
        });
    </script>


{% endblock content %}