{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<div class="px-4 py-6 sm:px-6 lg:px-8">
    <div class="max-w-4xl mx-auto">
        <div class="bg-white dark:bg-gray-800 shadow sm:rounded-lg p-6">
            <div class="mb-4">
                <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-gray-300">Ajout de Vehicule</h3>
            </div>
            <form action="" method="post" class="space-y-6">
                {% csrf_token %}
                {% for field in form %}
                <div class="mb-4">
                    <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-900 dark:text-gray-300">{{ field.label }}</label>
                    {{ field }}
                    {% if field.help_text %}
                    <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">{{ field.help_text }}</p>
                    {% endif %}
                    {% for error in field.errors %}
                    <p class="text-sm text-red-500">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endfor %}
                <button type="submit" class="px-4 py-2 bg-red-600 hover:bg-red-700 text-white font-bold rounded">Enregistrer</button>
            </form>
        </div>

        <div class="mt-4 flex justify-between items-center bg-white dark:bg-gray-800 shadow sm:rounded-lg p-6">
             <a href="{% url 'list_car' %}" class="inline-flex items-center ml-4 px-4 py-2 bg-gray-200 hover:bg-gray-300 text-gray-800 font-semibold text-sm leading-snug rounded focus:outline-none focus:ring-0 transition duration-150 ease-in-out">Retour à la liste</a>
        </div>
    </div>
</div>
{% endblock %}
