/* Styles généraux */
body {
    font-family: 'Nunito', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    transition: background-color 0.3s, color 0.3s; /* Transition douce pour le changement de thème */
}

.scrollable-tbody {
    max-height: 400px;
    overflow-y: auto;
}

.table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.table thead th {
    background-color: #28a745;
    color: #ffffff;
    padding: 12px 15px;
    text-align: left;
}

.table tbody td {
    padding: 12px 15px;
    color: #333;
    border-bottom: 1px solid #dddddd;
}

.btn, .btn-custom {
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    background-color: #17a2b8;
    color: white;
}

.btn-info:hover, .btn-custom:hover {
    background-color: #138496;
    border-color: #117a8b;
}

.form-control, .form-control:focus, textarea.form-control {
    border-color: #17a2b8;
    box-shadow: none;
}

.form-control:focus {
    border-width: 2px;
}

label {
    font-weight: 600;
    color: #495057;
}

textarea.form-control {
    height: 300px;
}

/* Adaptations pour le mode sombre */
body.dark {
    background-color: #121212;
    color: #e2e2e2;
}

body.dark .table {
    background-color: #242424;
    color: #e2e2e2;
    border-color: #444;
}

body.dark .btn, body.dark .btn-custom {
    background-color: #1DB9C3;
    border-color: #1DB9C3;
}

body.dark .btn:hover, body.dark .btn-custom:hover {
    background-color: #138496;
    border-color: #117a8b;
}

body.dark .form-control, body.dark .form-control:focus, body.dark textarea.form-control {
    background-color: #222;
    color: #ccc;
    border-color: #1DB9C3;
}

/* Assurer que le label et le texte dans les inputs et textarea sont également adaptés au mode sombre */
body.dark label, body.dark .form-control::placeholder {
    color: #ccc;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .table thead {
        display: none;
    }

    .table, .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 15px;
    }

    .table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}

.table-responsive {
    max-height: 400px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
